body{
    font-family: Arial;
}
button{
    cursor: pointer;
}

.todo-grid,
.todo-input-grid{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 15px;
    row-gap: 15px;
    align-items: center;
}

.todo-input-grid{
    margin-bottom: 25px;
    align-items: stretch;
}

.name-input,
.dueDate-input{
    font-size: 15px;
    padding: 6px;
}

.add-todoButton{
    background-color: lightgreen;
    color:white;
    border: none;
    font-size: 15px;
}

.delete-todoButton{
    background-color: darkred;
    color:white;
    border: none;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.newButtonStyle{
cursor: pointer;
background-color: darkcyan;
border-radius: 10px;
padding-top:10px;
padding-bottom: 10px;
padding-left: 15px;
padding-right: 15px;
font-weight: bold;
border-radius: 50px;
margin-bottom: 10px;
margin-top: 10px;
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
}





